body {
    margin: 0;
    background-color: #E9EAED;
    font-family: helvetica,arial,sans-serif;
}

a {
    color: #fff;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #3A5795;
    box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.52);
    border-bottom: 1px solid #000;
    height: 42px;
    color: #fff;
    z-index: 100;
}

header .inside {
    width: 75%;
    margin: 0 auto;
    padding-right: 10em;
}

header .logo {
    border-radius: 2px;
    background-color: #fff;
    color: #3A5795;
    display: inline-block;
    padding: 0.25em 0.1em 0em 0.5em;
    transform: translateY(0.25em);
    line-height: 18pt;
    font-size: 20pt;
    font-weight: bold;
}

header .search {
    line-height: 18pt;
    width: 25em;
    margin-left: 0.3em;
}

header .user:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

header .avatar {
    height: 27px;
    transform: translateY(0.5em);
}

header .name {
    font-size: 12px;
    font-weight: bold;
    transform: translateY(-0.1em);
    display: inline-block;
    margin-left: 0.25em;
}

header .messages {
    font-size: 12px;
    transform: translateY(-0.1em);
    display: inline-block;
    margin-left: 2em;
    padding: 0 4px;
}

header .messages.active {
    background-image: linear-gradient(#FA3C45, #DC0D17);
    background-color: #fff;
}

.friend-list {
    position: fixed;
    width: 15%;
    height: 100%;
    color: #141823;
    border-left: 1px solid #ccc;
    right: 0;
    top: 0;
    padding-top: 3.5em;
    box-sizing: border-box;
}

.friend-list .friend {
    cursor: pointer;
    border-top: 1px solid #e9eaed;
    border-bottom: 1px solid #e9eaed;
    padding-left: 10px;
    position: relative;
}

.friend-list .friend:hover {
    background-color: #e5e5e5;
    border-color: #d5d6d9;
}

.friend-list .avatar {
    width: 32px;
    height: 32px;
    transform: translateY(0.15em);
}

.friend-list .name {
    display: inline-block;
    transform: translateY(-0.5em);
    margin-left: 0.3em;
}

.friend-list .status {
    position: absolute;
    right: 0.5em;
    top: 0.9em;
    width: 0.5em;
    height: 0.5em;
    display: inline-block;
    border-radius: 1em;
}

.status.online {
    background-color: #01ad01;
}

.status.offline {
    background-color: #808080;
}

.content {
    width: 75%;
    margin: 0 auto;
    margin-top: 3.5em;
    padding-right: 10em;
}

.post-wrap > div, .post-wrap > article {
    background-color: #fff;
    width: 75%;
    margin-bottom: 1em;
    font-size: 11pt;
    border-radius: 2px;
}

.sponsored {
    background-color: #fff;
    width: 24%;
    font-size: 9pt;
    padding: 10px;
    box-sizing: border-box;
}

.sponsored .title {
    color: #9197A3;
    font-weight: bold;
}

.ad {
    text-decoration: none;
}

.ad img {
    max-width: 100%;
}

.ad .title {
    color: #3B5998;
    font-size: 11pt;
}

.ad .text {
    color: #9197A3;
    font-size:10pt;
}

.content .avatar {
    width: 40px;
    height: 40px;
}

.new-post .text {
    width: 90%;
    padding: 0.5em;
    border: 0;
}

.new-post .buttons {
    padding: 0 0.5em 0.5em;
    text-align: right;
}

.new-post .submit {
    cursor: pointer;
    font-size: 10pt;
    color: #fff;
    border-radius: 2px;
    line-height: 22px;
    display: inline-block;
    padding: 0px 16px;
    vertical-align: baseline;
    font-weight: bold;
    background-color: #4F6AA3;
    border-color: #435A8B #3C5488 #334C83;
}

.post {
    padding: 1em;
    box-sizing: border-box;
}

.post .info {
    min-height: 40px;
}

.post .info img {
    margin-right: 0.5em;
}

.post .info a {
    color: #3B5998;
    font-size: 11pt;
    font-weight: bold;
    text-decoration: none;
}

.post .info a:hover {
    text-decoration: underline;
}

.post .time {
    color: #9197A3;
    font-size:10pt;
}

.post .text {
    margin-top: 0.5em;
}

.post .img {
    margin-top: 0.5em;
}

.message-wrap {
    position: fixed;
    right: 15%;
    bottom: 0;
    white-space: nowrap;
}

.message {
    white-space: normal;
    position: relative;
    display: inline-block;
    margin-right: 1em;
    background-color: #E9EAED;
    height: 325px;
    width: 260px;
    box-sizing: border-box;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.message .title {
    background-color: #4E69A2;
    font-size: 9pt;
    font-weight: bold;
    color: #fff;
    padding: 0.5em 1em;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border: 1px solid #2E4588;
    box-sizing: border-box;
    height: 28px;
}

.message .status {
    position: absolute;
    top: 1em;
    width: 0.5em;
    height: 0.5em;
    display: inline-block;
    border-radius: 1em;
}

.message .name {
    margin-left: 1.2em;
}

.message .close {
    color: #ccc;
    cursor: pointer;
}

.message .conversation {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    top: 28px;
    bottom: 1.6em;
    overflow-y: scroll;
}

.message .avatar {
    height: 34px;
    width: 34px;
}

.message .text {
    font-size: 9pt;
}

.message .them, .message .you {
    margin: 0.5em;
}

.message .text {
    display: inline-block;
    max-width: 80%;
    box-sizing: border-box;
    padding: 0.5em;
    margin-left: 0.5em;
    margin-top: 0.3em;
    border-radius: 4px;
}

.message .them .text {
    background-color: #FFF;
}

.message .you {
    text-align: right;
}

.message .you .text {
    background-color: #C7DEFE;
}

.message .input {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    height: 1.6em;
}

.message input {
    width: 100%;
    box-sizing: border-box;
}

hr {
    border: 0;
    border-bottom: 1px solid #ccc;
}

.left { float: left }
.right { float: right }
.clear { clear: both }
