body {
    margin: 0;
    background-color: #E9EAED;
    font-family: helvetica,arial,sans-serif;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #3A5795;
    box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.52);
    border-bottom: 1px solid #000;
    height: 42px;
    color: #fff;
    z-index: 100;
}

header .inside {
    width: 75%;
    margin: 0 auto;
    padding-right: 10em;
}

header .logo {
    border-radius: 2px;
    background-color: #fff;
    color: #3A5795;
    display: inline-block;
    padding: 0.25em 0.1em 0em 0.5em;
    transform: translateY(0.25em);
    line-height: 18pt;
    font-size: 20pt;
    font-weight: bold;
}

header .search {
    line-height: 1.7em;
    width: 25em;
}

header .user:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

header .avatar {
    height: 27px;
    transform: translateY(0.5em);
}

header .name {
    font-size: 12px;
    font-weight: bold;
    transform: translateY(-0.1em);
    display: inline-block;
}

header .messages {
    font-size: 12px;
    transform: translateY(-0.1em);
    display: inline-block;
    margin-left: 2em;
}

.buddy-list {
    position: fixed;
    width: 15%;
    height: 100%;
    color: #141823;
    border-left: 1px solid #ccc;
    right: 0;
    top: 0;
    padding-top: 3.5em;
    box-sizing: border-box;
}

.buddy-list .friend {
    cursor: pointer;
    border-top: 1px solid #e9eaed;
    border-bottom: 1px solid #e9eaed;
    padding-left: 10px;
}

.buddy-list .friend:hover {
    background-color: #e5e5e5;
    border-color: #d5d6d9;
}

.buddy-list .avatar {
    width: 32px;
    height: 32px;
    transform: translateY(0.15em);
}

.buddy-list .name {
    display: inline-block;
    transform: translateY(-0.5em);
}

.content {
    width: 75%;
    margin: 0 auto;
    margin-top: 3.5em;
    padding-right: 10em;
}

.content div, .content article {
    background-color: #fff;
    width: 75%;
    margin-bottom: 1em;
    font-size: 11pt;
}

.sponsored {
    background-color: #fff;
    width: 24%;
    font-size: 9pt;
    padding: 10px;
    box-sizing: border-box;
}

.sponsored .title {
    color: #9197A3;
    font-weight: bold;
}

.ad {
    text-decoration: none;
}

.ad img {
    max-width: 100%;
}

.ad .title {
    color: #3B5998;
    margin-bottom: 0;
}

.ad .text {
    color: #9197A3;
    font-size:10pt;
}

hr {
    border: 0;
    border-bottom: 1px solid #ccc;
}

.left { float: left }
.right { float: right }
